.header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  height: 4rem;
  z-index: 100;
  background-color: #ffffff;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;

    nav {
      display: flex;
      gap: .5rem;

      .login {
        &:after {
          position: relative;
          top: 1px;
          content: '';
          display: inline-block;
          width: 14px;
          height: 17px;
          background: url('../../assets/icons/usuario.svg') no-repeat center center;
          margin-left: .5rem;
        }
      }
    }
  }
}